.css-button-arrow--grey {
    min-width: 130px;
    height: 40px;
    margin-top: 3em;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: #6c757d
    
  }
  .css-button-arrow--grey:hover {
    border-radius: 5px;
    padding-right: 24px;
    padding-left:8px;
  }
  .css-button-arrow--grey:hover:after {
    opacity: 1;
    right: 10px;
  }
  .css-button-arrow--grey:after {
    content: "\00BB";
    position: absolute;
    opacity: 0;
    font-size: 20px;
    line-height: 40px;
    top: 0;
    right: -20px;
    transition: 0.4s;
  }